$display4-size : 1.5rem !default; //this overrides the bootstrap default but only if the bootstrap import statement is after

@import "~bootstrap/scss/bootstrap";

.my-dropdown {
  float: right;
  position: relative;
  top: 7px;
  right: 40px;
}